<!DOCTYPE html>
<html>

{{> header}}

<style>
    #desc { 
        color:blue;
    }
</style>

<body>
    <h1>Main</h1>
<a href={{about}}>Info page</a>
<a href={{weather}}>Weather page</a>
</body>

{{> footer}}

</html>