<!DOCTYPE html>
<html>

{{> header}}

<style>
    #desc { 
        color:blue;
    }
</style>

<body>
    <h1>Main</h1>
<a href='/info'>Info page</a>
<a href='/nasa'>NASA images</a>
</body>

{{> footer}}

</html>