<!DOCTYPE html>
<html>
    <head>
        <script>
            
        </script>
    </head>

{{> header}}

<style>
    #desc { 
        color:blue;
    }
</style>

<body>
    <h1>Weather</h1>
    <p>{{weatherinfo}}</p>


</body>

{{> footer}}

</html>